{% comment %}
  @param context {Object}
    Collection object or search object
{% endcomment %}

{%- assign total_active_values = 0 -%}

<h2 class="productgrid--sidebar-title">
  {{ 'product_grid.filters.title_count' | t: count: 0 }}
</h2>

{% assign active_filters = false %}
{% for filter in context.filters %}
  {% if filter.active_values.size > 0 or filter.min_value.value or filter.max_value.value %}
    {% assign active_filters = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if active_filters == true %}
  <div class="productgrid--filters--mobile">
    {%-
      render 'product-grid-filters-active',
      context: context,
    %}
  </div>
{% endif %}

<div class="filter-form">
  {%- for filter in context.filters -%}
    {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
    {%
      render 'faceted-filter-group',
      filter: filter,
      show_product_count: show_product_count,
      forloop: forloop,
    %}
  {%- endfor -%}
  </div>
