<script type="application/pxs-animation-mapping+json">
  {
    "blocks": [".promo-block"],
    "elements": [
      ".promo-block--header",
      ".promo-block--text",
      ".promo-block--button"
    ]
  }
</script>

<section class="promo-grid--container">
  {% if section.settings.title != blank %}
    <h2 class="home-section--title">
      {{ section.settings.title | escape }}
    </h2>
  {% endif %}

  {%- capture classes -%}
    home-section--content
    promo-grid--height-{{ section.settings.section_height }}
  {%- endcapture -%}

  <div class="{{ classes | strip_newlines }}">
    {% if section.blocks.size > 0 %}
      <div class="promo-grid--inner promo-grid__columns--{{ section.settings.section_columns }}">
        {% for block in section.blocks %}
          {%
            render 'promo-block',
            block: block,
            text_alignment: section.settings.text_alignment,
            index: forloop.index,
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {%
    render 'promo-block-background',
    blocks: section.blocks
  %}
</section>

{% schema %}
{
  "name": "t:sections.grid.name",
  "class": "promo-grid--section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.grid.title.label",
      "default": "Grid"
    },
    {
      "id": "section_height",
      "type": "select",
      "label": "t:sections.grid.section_height.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.grid.section_height.option_1"
        },
        {
          "value": "medium",
          "label": "t:sections.grid.section_height.option_2"
        },
        {
          "value": "large",
          "label": "t:sections.grid.section_height.option_3"
        },
        {
          "value": "natural",
          "label": "t:sections.grid.section_height.option_4"
        }
      ],
      "default": "small"
    },
    {
      "id": "section_columns",
      "type": "range",
      "label": "t:sections.grid.section_columns.label",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "id": "text_alignment",
      "type": "select",
      "label": "t:sections.grid.text_alignment.label",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.grid.text_alignment.option_1"
        },
        {
          "value": "top-center",
          "label": "t:sections.grid.text_alignment.option_2"
        },
        {
          "value": "top-right",
          "label": "t:sections.grid.text_alignment.option_3"
        },
        {
          "value": "center-left",
          "label": "t:sections.grid.text_alignment.option_4"
        },
        {
          "value": "center-center",
          "label": "t:sections.grid.text_alignment.option_5"
        },
        {
          "value": "center-right",
          "label": "t:sections.grid.text_alignment.option_6"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.grid.text_alignment.option_7"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.grid.text_alignment.option_8"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.grid.text_alignment.option_9"
        }
      ],
      "default": "top-left"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "t:sections.grid.blocks.promotional_item.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.grid.blocks.promotional_item.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.grid.blocks.promotional_item.title.label",
          "default": "Grid"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.grid.blocks.promotional_item.text.label",
          "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news."
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.grid.blocks.promotional_item.color.label",
          "default": "#4d4d4d"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "t:sections.grid.blocks.promotional_item.block_link.label"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.grid.blocks.promotional_item.button_text.label"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "t:sections.grid.blocks.promotional_item.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.grid.blocks.promotional_item.button_style.option_1"
            },
            {
              "value": "secondary",
              "label": "t:sections.grid.blocks.promotional_item.button_style.option_2"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "t:sections.grid.blocks.promotional_item.header_1.content"
        },
        {
          "id": "show_overlay",
          "type": "checkbox",
          "label": "t:sections.grid.blocks.promotional_item.show_overlay.label"
        },
        {
          "id": "background",
          "type": "color",
          "label": "t:sections.grid.blocks.promotional_item.background.label"
        },
        {
          "id": "opacity",
          "type": "range",
          "label": "t:sections.grid.blocks.promotional_item.opacity.label",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.grid.presets.grid.name",
      "category": "t:sections.grid.presets.grid.category",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}